<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<th:block th:include="_menu"></th:block>
<div class="container">

    <h1>Edit</h1>
    <form th:action="@{'/user/'+${defaultAccount.getId()}+'/edit'}" th:object="${editUserAccount}" method="post">

        <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</p>

        <table>
            <tr>
                <input type="hidden" th:value="${defaultAccount.id}" name="id"/>
            </tr>
            <tr>
                <td>user name:</td>
                <td><label th:text="${defaultAccount.userName}"></label></td>
            </tr>
            <tr>
                <td>first name:</td>
                <td><input type="text" th:value="${defaultAccount.firstName}" name="firstName"/></td>
                <td th:each="error: ${#fields.errors('firstName')}"
                    th:text="${error}">Validation error
                </td>
            </tr>
            <tr>
                <td>last name:</td>
                <td><input type="text" th:value="${defaultAccount.lastName}" name="lastName"/></td>
                <td th:each="error: ${#fields.errors('lastName')}"
                    th:text="${error}">Validation error
                </td>
            </tr>
            <tr>
                <td>role:</td>
                <td>
                    <select name="Role">
                        <option th:each="role : ${allRoles}" th:value="${role}" th:text="${role}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>status:</td>
                <td>
                    <select name="Status">
                        <option th:each="status : ${allStatuses}" th:value="${status}" th:text="${status}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>